---
import Layout from '../layouts/Layout.astro';

const people = [
  ['charity majors', 'https://charity.wtf'],
  ['chelsea troy', 'https://chelseatroy.com'],
  ['ethan mollick', 'https://www.oneusefulthing.org'],
  ['geoffrey huntley', 'https://ghuntley.com'],
  ['gergely orosz', 'https://newsletter.pragmaticengineer.com'],
  ['jesse spevack', 'https://verynormal.info'],
  ['kent beck', 'https://tidyfirst.substack.com/'],
  ['lara hogan', 'https://larahogan.me'],
  ['lenny rachitsky', 'https://www.lennysnewsletter.com'],
  ['mitchell hashimoto', 'https://mitchellh.com'],
  ['simon willison', 'https://simonwillison.net'],
  ['steve yegge', 'https://steve-yegge.medium.com'],
  ['will larson', 'https://lethain.com'],
];
---

<Layout title="influences">
  <h1>influences</h1>
  <p>people whose thinking and writing has shaped mine</p>
  <p>in order by first name...</p>
  <ul>
    {people.map(([name, url]) => (
      <li><a href={url}>{name}</a></li>
    ))}
  </ul>
</Layout>
