---
import Layout from '../layouts/Layout.astro';

const talks = [
  {
    title: 'cambrian explosion & fractals',
    venue: "Ibotta's 2026 CultureCon",
    date: '2026-04-30',
    url: '/talks/cambrian-fractals/index.html',
  },
  {
    title: 'forwards & backwards paradox',
    venue: "Ibotta's 2026 CultureCon",
    date: '2026-04-30',
    url: '/talks/forwards-backwards-paradox/index.html',
  },
];
---

<Layout title="talks">
  <h1>talks</h1>
  <ul>
    {talks.map((t) => (
      <li>
        <a href={t.url}>{t.title}</a> - {t.venue} ({t.date})
      </li>
    ))}
  </ul>
</Layout>
